<section>
  <div class="page-header">
    <h1>Photographers</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="photographer in vm.photographers"
       ui-sref="photographers.view({ photographerId: photographer._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="photographer.created | date:'mediumDate'"></span>
        by
        <span ng-if="photographer.user" ng-bind="photographer.user.displayName"></span>
        <span ng-if="!photographer.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="photographer.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.photographers.$resolved && !vm.photographers.length">
    No Photographers yet, why don't you <a ui-sref="photographers.create">create one</a>?
  </div>
</section>
